
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints
*.ipynb

# Data
data/
*.csv
*.parquet

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
